<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/Components/static/content/Sample.css">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Grow<span>Secure</span></a></div>
        </ul>
    </nav>

    <div class="bb">
        <div class="frame">
            <div class="wrapper">
                <div class="content">
                  <button><span>Encrypt Image</span></button>
                </div>
                <div class="content">
                    <button><span>Decrypt Image</span></button>
                  </div>
              </div>
        </div>
    </div>

    <div class="footer">
        <footer>
            Copyright © 2022 All Rights Reserved by GrowSecure. <a href="">Contact Us</a>
        </footer>
    </div>

</body>
</html>